assgn8.json
[{"id":"9047b36d.7e8df","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"47108af5.f33954","type":"inject","z":"9047b36d.7e8df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"13","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["25e0daa1.a0fdc6"]]},{"id":"329305cc.561cca","type":"cloudant in","z":"9047b36d.7e8df","name":"","cloudant":"","database":"assgn7","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","search":"_id_","design":"","index":"","x":340,"y":40,"wires":[["d59ec40c.38ce68"]]},{"id":"25e0daa1.a0fdc6","type":"function","z":"9047b36d.7e8df","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload = date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":100,"wires":[["329305cc.561cca"]]},{"id":"d59ec40c.38ce68","type":"switch","z":"9047b36d.7e8df","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":100,"wires":[[],["38259bd8.3a9e74"]]},{"id":"301880af.0b9bd","type":"function","z":"9047b36d.7e8df","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"pump\":msg.payload.pump\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":200,"wires":[["c9077a7c.9b0418","44edaf8d.9898e"]]},{"id":"44edaf8d.9898e","type":"cloudant out","z":"9047b36d.7e8df","name":"","cloudant":"","database":"assgn7","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","payonly":true,"operation":"insert","x":410,"y":200,"wires":[]},{"id":"c9077a7c.9b0418","type":"debug","z":"9047b36d.7e8df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":260,"wires":[]},{"id":"b6a6afc0.3cfd","type":"http in","z":"9047b36d.7e8df","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["b8424aa9.36a0e8"]]},{"id":"5a93e287.f40e7c","type":"http response","z":"9047b36d.7e8df","name":"","statusCode":"","headers":{},"x":420,"y":360,"wires":[]},{"id":"b8424aa9.36a0e8","type":"function","z":"9047b36d.7e8df","name":"","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":360,"wires":[["5a93e287.f40e7c"]]},{"id":"186ef3fd.a8400c","type":"ui_form","z":"9047b36d.7e8df","name":"","label":"","group":"f86acaf.d48a138","order":0,"width":0,"height":0,"options":[{"label":"Date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null},{"label":"Time(HH:MM)","value":"time","type":"text","required":true,"rows":null},{"label":"Pupm Command(On or Off)","value":"pump","type":"text","required":true,"rows":null}],"formValue":{"date":"","time":"","pump":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":50,"y":240,"wires":[["301880af.0b9bd"]]},{"id":"38259bd8.3a9e74","type":"function","z":"9047b36d.7e8df","name":"","func":"msg.payload=msg.payload.pump\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":180,"wires":[["6c7cd025.1a085","c9077a7c.9b0418"]]},{"id":"6c7cd025.1a085","type":"ibmiot out","z":"9047b36d.7e8df","authentication":"apiKey","apiKey":"b2f8bbb3.e55fb8","outputType":"cmd","deviceId":"12345","deviceType":"ESP32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":400,"wires":[]},{"id":"f86acaf.d48a138","type":"ui_group","name":"Group 1","tab":"d4380467.8f4b28","order":1,"disp":true,"width":6},{"id":"b2f8bbb3.e55fb8","type":"ibmiot","name":"Aksh","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d4380467.8f4b28","type":"ui_tab","name":"assgn8","icon":"dashboard","order":6,"disabled":false,"hidden":false}]